<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" activate="activate" name="org.jxse.platform">
   <implementation class="net.jxse.osgi.platform.PlatformBuilder"/>
   <service servicefactory="true">
      <provide interface="net.jxta.module.IModuleBuilder"/>
   </service>
   <property name="JxtaModule" type="String" value="Configuration"/>
</scr:component>
