<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" enabled="true" immediate="true" name="net.jp2p.endpoint.netty">
   <implementation class="org.jxse.netty.NettyFactory"/>
   <service>
      <provide interface="net.jxta.module.IModuleFactory"/>
   </service>>>>
</scr:component>
